.chekout-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
}

.titulo-checkout {
    font-family: "Bebas Neue", sans-serif;
    color: #565656;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e8e7e4 ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

input[type="text"],
input[type="email"],
input[type="phone"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn-comprar {
    padding: 12px;
    background-color: #fef08d;
    color: #565656;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 16px;
}

.btn-comprar:hover {
    background-color: #565656;
    color: #fef08d;
}

.num-order {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    margin-top: 3rem;
    padding: 2rem;
    color: #f1f4f4;
    background-color: #565656;
}

.mensaje-final p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    border-radius: 1rem;
    background-color: #f7c6c6;
    color: #565656;
}

.btn-seguir-comprando {
    color: #565656;
    background-color: #fef08d;
}

.btn-seguir-comprando:hover {
    background-color: #f7c6c6;
    color: #565656;
}

.resumen-compra {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-bottom: 1rem;
}

.resumen-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.resumen-item:last-child {
    border-bottom: none;
}

/* Total Final */
.total-final {
    margin-top: 15px;
    text-align: right;
    font-size: 18px;
}