.greeting{
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    background-color: #fef08d;
    color:#565656 ;
}

.contenedor-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 180px;
    margin-top: 20px;
}

.slogan{
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    background-color: #f7c6c6;
    color:#565656 ;
}

.imagen-portada img {
    width: 100%;
}

.loader{
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-left: 900px;
}