nav{
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #98c6c6  ;
    font-family: "Bebas Neue", sans-serif;
}

nav img{
    height:5rem ;
    padding: 5px;
}

.carritoDeCompras {
    display: flex;
    cursor: pointer;
    height: fit-content;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
}



.navegacion button{
    cursor: pointer;
    margin: 1rem;
    background-color: #f1f4f4  ;
    color: #565656;
}

.navegacion a{
    list-style: none;
    text-decoration: none;
    color: #565656;
}

.botones:hover{
    color: #565656;
    background-color: #fef08d;
}