nav{
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #565656 ;
    font-family: "Bebas Neue", sans-serif;
}

nav img{
    height:3rem ;
}

.carritoDeCompras {
    display: flex;
    cursor: pointer;
    height: fit-content;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion button:hover{
    background-color: #fef08d;
}

.navegacion button{
    cursor: pointer;
    margin: 1rem;
    background-color: #f1f4f4  ;
    color: #565656;
}

.navegacion a{
    list-style: none;
    text-decoration: none;
    color: #565656;
}

.carrito-de-compras{
    display: flex;
    justify-content: center;
    background-color: #f1f4f4;
    width: 88.38px;
    height: 75.19px;
    border-radius: 1rem;
    cursor: pointer;
}

.carrito-de-compras:hover{
    background-color: #fef08d;

}

.carrito-de-compras img{
    margin-top: 0.2rem;
    height: 4rem;
}

.carrito-de-compras p{
    margin-top: 5px;
    font-size: 22px;
}