

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 2rem;
    border-radius: 1rem;
    border-color: #565656;
    margin: 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    height: 28rem;
    width: 25rem;
    transition: transform 0.2s;
}

.productos:hover{
    transform: translateY(-5px);
}


.imagenes-productos{
    width: 20rem;
    height: 14rem;
    object-fit: contain;
}

.productos h3{
    font-weight: 300;
}

.productos button{
    color: #565656;
    background-color:#f1f4f4 ;
    cursor: pointer;
    margin: 0.5rem;
}

.productos button:hover{
    color: #fef08d;
    background-color: #fef08d;
}

.productos a{
    list-style: none;
    text-decoration: none;
    color: #565656;
}
